/* generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* fine generale */

[class*="col-"] {
  min-height: 200px;
  background-color: #ffc0cb;
  border: solid 1px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*ALTERNATIVAMENTE, PER CENTRARE,
si può togliere questa parte qua:
[class*="col-"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

e creare e fare:
.row {
  line-height: 200px
}

viene uguale
*/

.pezzi-finali {
  background-color: #f07f80;
  border: solid 1px white;
}

.bordino {
  padding: 5px;
}
